body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgrey;
}

figcaption {
  font-size: small;
  text-align: center;
}

#featured-property p {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

div {
  float: left;
  background: red;
  text-align: center;
  width: 25%;
}